<!--
##################################################
# Author: glee-
# https://github.com/glee-/Postulate
##################################################
-->
<head>
  <title> Postulate </title>
</head>

<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="/osu" method="POST">
    User Name: <input type="text" name="uname"><br>
    Hypothetical PP: <input type="text" name="pp"><br>
        <input type="submit" value="Submit">
  </form>

</body>
